@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind media;

/* Custom css */
/* purgecss start ignore */

/* Header */

.header-container {
  @apply content font-secondary;
}

.header-container .hamburger {
  @apply border-none no-underline p-0 ml-20px;
}

.header-container .hamburger:hover, .header-container .hamburger:focus {
  outline: none;
}

.header-container .left {
  @apply flex flex-grow items-center;
}

.header-container .right {
  @apply flex flex-grow items-center justify-end;
}

.header-container .right .link {
  @apply text-grey-10 no-underline ml-8 text-sm;
}

.header-container .right .link:hover {
  @apply opacity-60;
}

/* Footer */

.footer-container {
  @apply content font-secondary;
}

.footer-container .left {
  @apply flex flex-row flex-grow items-center;
}

.footer-container .right {
  @apply flex flex-row flex-grow items-center justify-end;
}

.footer-link {
  @apply text-grey-10 no-underline mt-14px text-xxs;
}

.footer-link:hover {
  @apply opacity-60;
}

.footer-container .aragon {
  @apply h-30px mt-10px;
}

@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-container .left {
    flex-direction: column;
  }

  .footer-container .right {
    flex-direction: column;
  }
}

/* purgecss end ignore */
